/*Estilos gerais*/

*{

    color: #252822; /*define a cor de texto para todos os elementos*/
}
a{
    text-decoration: none;
    transition: 0.5s;
}
.secundary-color{
    color: #555;
}
.center-image{
    background-size: cover;
    background-position: center;
}
.btn{
    text-decoration: none;
    background-color: #25282e;
    color: #fff;
    padding: 7px 18px;
    border-radius: 0;
}
.btn-hover{
    background-color: #333;
    color: #fff;
}
/*header*/
header{
    text-align: center;/*alinha o texto no centro da página*/
    padding: 20px; /*espaçamento interno de 20px*/
    border-bottom: 1px solid #ccc; /*adiciona uma linha na parte inferior*/
}

#logo-container{
    display: flex;/*ativa o modelo de layout flexível*/
    justify-content: center;/*centraliza horizontalmente os elementos do container*/
}

#logo{
    width: 55px; /*/define a largura da logo*/
    height: 55px; /*define a altura do logo em 55px*/
    margin-right: 15px; /*margem direita de 15px para a logo*/
}

#header p{
    margin-bottom: 0;/*remove a margem inferior do paragrafo que está dentro do header*/
}
/*navbar*/

#navbar{
    padding: 10px;
    margin: 10px;
}

#navbar a{
    width: 80px;
    color: #444;
}

#navbar a:hover{
    color: #c1b691;
}

/*main image*/
.main-image{
    height: 400px;
    background-image: url('../img/banner.jpg');
    margin-bottom: 30px;
    position: relative;
}

.main-image-info{
    background-color: #fff;
    padding: 25px;
    position: absolute;
    left: 25px;
    bottom: 25px;
}
/*produtos*/

h1{
    text-align: center;
}
#prod1{
    background-image: url('../img/prod1.jpg');
}
#prod2{
    background-image: url('../img/prod2.jpg');
}
#prod3{ 
    background-image: url('../img/prod3.jpg');
}
#prod4{
    background-image: url('../img/prod4.jpg');
}
#prod5{
    background-image: url('../img/prod5.jpg');
}
#prod6{
    background-image: url('../img/prod6.jpg');
}
.small-image-container{
    height: 200px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
.preco-container{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
}
.preco-novo{
    color: red;
    font-size: 1.2em;
    font-weight: bold;
}
.desconto{
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9em;
}
/*FOOTER*/
footer{
    border-top:1px solid #ccc ;
    height: 250px;
    padding: 30px;
}
footer i{
    font-size: 20px;
}
#social-icons-container{
    padding: 15px;
}
#social-icons-container div{
    text-align: center;
}
footer p{
    text-align: center;
    margin: 10px;
}
a:hover i{
    color: #c1b691;
}

