*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-style: arial sans-serif;
    background-color:beige;
    color:black;
    padding: 4rem;
}
header{
    font-style: arial sans-serif;
    background-color:rgb(243, 224, 197);
    color:black;
    padding: 5rem;
    text-align: center;
}
section{
    margin-top:3rem ;
    margin-bottom: 3rem;
}
section h2{
    font-size: 1,5rem;
}
ul{
    padding: 1rem;
    margin: 0rem;
}
footer{
    background-color:rgb(243, 224, 197);
    color:white;
    padding: 2rem;
}
